.parent-box {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1rem;
    border: 1rem solid #333333;
    background-color: #333333;
    border-radius: 50%;
}

.child-box {
    width: 12rem;
    height: 12rem;
    cursor: pointer;
}

.green {
    background-color : #00a74a;
    border-top-left-radius: 100%;
}

.green-active, .green:active {
    background-color : #13ff7c;
}

.red {
    background-color : #9f0f17;
    border-top-right-radius: 100%;
}

.red-active, .red:active {
    background-color : #ff4c4c;
}

.yellow {
    background-color : #cca707;
    border-bottom-left-radius: 100%;
}

.yellow-active, .yellow:active {
    background-color : #fed93f;
}

.blue {
    background-color : #094a8f;
    border-bottom-right-radius: 100%;
}

.blue-active, .blue:active {
    background-color : #1c8cff;;
}

@media only screen and (max-width: 768px) {
    .child-box {
        width: 9.4rem;
        height: 9.4rem;
    }
}